{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/cadastrar_page_style.css' %}" />
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooper Gaedicke</title>
</head>
{% block content %}
    <div class="header">
      <img src="{% static 'images/cooper.png' %}" alt="coopergaedicke logo" class="cooperLogo">
    </div>
    <div class="centeritems">
      <div class="formulario">
        <form action="{% url 'criarUser' %}">
        {% csrf_token %}
        <h2><strong>Cadastro do Associado</strong></h2>
        <hr>
        <br>
        
        <div class="inputBox">
          <label for="cpf" class="labelinput">Nº do CPF:</label>
          <input type="text" name="cpf" title="Digite um CPF no formato: xxx.xxx.xxx-xx" class="inputUser" placeholder=" Ex: 234.345.567-89" required />
        </div><!--cpf-->
        
        <input type="submit" value="salvar" />
      </form>
        <div class="downcenter">    
            <div class="buttons">
                <a href="{% url 'principal' %}"><button type="button" class="changepagebuttons">Voltar</button></a>
                <a href="{% url 'criarUser' %}"><button type="submit" class="changepagebuttons">Salvar</button></a>
            </div>
        </div>
      </div>
    </div>
    <br>
    <p class="bluetext">Desenvolvido por:</p>
    <img src="{% static 'images/CETEC-Logo-Horizontal.png' %}" alt="logo cetec" class="ceteclogo">
{% endblock content %}
</html>