{% load static %}
{% load widget_tweaks%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/ver_associados_page_style.css' %}" />
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooper Gaedicke</title>
</head>
{% block content %}
    <div class="down">
        <table class="tablecetec">
            <tr>
                <th class="footer"><p class="bluetext">Desenvolvido por:</p></th>
                <th class="footer"><img src="{% static 'images/CETEC-Logo-Horizontal.png' %}" alt="logo cetec" class="ceteclogo"></th>
            </tr>
        </table>
    </div>
    <div class="downcenter">    
        <div class="buttons">
            <a href="{% url 'principal' %}"><button type="button" class="changepagebuttons">Voltar</button></a>
            <a href="{% url 'gerenciar' %}"><button type="submit" class="changepagebuttons">Gerenciar</button></a>
        </div>
        <nobr><strong>Associados</strong></nobr>
    </div>
    <br><br><br>
   <table class="associados">
        <tr>
            <th>Nome<br>
                <a href="{% url 'verassociadossorted' sort='nomeAssociado' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-nomeAssociado' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Quotas<br>
                <a href="{% url 'verassociadossorted' sort='quotas' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-quotas' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Nome Responsáveis<br>
                <a href="{% url 'verassociadossorted' sort='nomeRespoAssociado' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-nomeRespoAssociado' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Data de Nascimento<br>
                <a href="{% url 'verassociadossorted' sort='dt_nasct' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-dt_nasct' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Cidade Natal<br>
                <a href="{% url 'verassociadossorted' sort='cidadeNatal' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-cidadeNatal' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Estado Natal<br>
                <a href="{% url 'verassociadossorted' sort='estadoNatal' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-estadoNatal' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Telefone<br>
                <a href="{% url 'verassociadossorted' sort='telefone' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-telefone' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Email<br>
                <a href="{% url 'verassociadossorted' sort='email' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-email' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Rg<br>
                <a href="{% url 'verassociadossorted' sort='rg' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-rg' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th class="primarykey">Cpf<br>
                <a href="{% url 'verassociadossorted' sort='cpf' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-cpf' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Está Associado<br>
                <a href="{% url 'verassociadossorted' sort='isAssociado' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-isAssociado' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Cargo<br>
                <a href="{% url 'verassociadossorted' sort='cargo' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-cargo' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Rua<br>
                <a href="{% url 'verassociadossorted' sort='rua' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-rua' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Bairro<br>
                <a href="{% url 'verassociadossorted' sort='bairro' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-bairro' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Cidade Atual<br>
                <a href="{% url 'verassociadossorted' sort='cidadeAtual' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-cidadeAtual' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
            <th>Cep<br>
                <a href="{% url 'verassociadossorted' sort='cep' %}"><img src="{% static 'images/pra-cima.png'%}" style="width:12px;"></a>
                <a href="{% url 'verassociadossorted' sort='-cep' %}"><img src="{% static 'images/abaixo.png'%}" style="width:12px;"></a>
            </th>
        </tr>
        {% for item in objs %}
        <tr>
            <td>{{ item.nomeAssociado }}</td>
            <td>{{ item.quotas }}</td>
            <td>{{ item.nomeRespoAssociado }}</td>
            <td>{{ item.dt_nasct| date:"d-m-Y" }}</td>
            <td>{{ item.cidadeNatal }}</td>
            <td>{{ item.estadoNatal }}</td>
            <td>{{ item.telefone }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.rg }}</td>
            <td class="primarykey">{{ item.cpf }}</td>
            <td>{% if item.isAssociado == False%}
                <img src="{% static 'images/wrong.png' %}" class="trueorfalse">
                {% else %}
                <img src="{% static 'images/right.png' %}" class="trueorfalse">
                {% endif %}
            </td>
            <td>{{ item.cargo }}</td>
            <td>{{ item.rua }}</td>
            <td>{{ item.bairro }}</td>
            <td>{{ item.cidadeAtual }}</td>
            <td>{{ item.cep }}</td>
        </tr>
        {% endfor %}
    </table>
    
    <br>
{% endblock content %}
</html>