{% load render_table from django_tables2 %}
{% load static %}
{% load widget_tweaks%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/ver_associados_page_style.css' %}" />
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooper Gaedicke</title>
</head>
{% block content %}
    <div class="down">
        <table class="tablecetec">
            <tr>
                <th class="footer"><p class="bluetext">Desenvolvido por:</p></th>
                <th class="footer"><img src="{% static 'images/CETEC-Logo-Horizontal.png' %}" alt="logo cetec" class="ceteclogo"></th>
            </tr>
        </table>
    </div>
    <div class="downcenter">    
        <div class="buttons">
            <a href="{% url 'principal' %}"><button type="button" class="changepagebuttons">Voltar</button></a>
            <a href="{% url 'principal' %}"><button type="submit" class="changepagebuttons">Gerenciar</button></a>
        </div>
        <nobr><strong>Projetos</strong></nobr>
    </div>
    <br>
   <table class="associados">
        <tr>
            <th>Nome do Projeto</th>
            <th class="primarykey">Código do projeto</th>
            <th>Data de Criação</th>
            <th>Concluído</th>
            <th class="descrprojeto">Descrição do Projeto</th>
        </tr>
        {% for item in objs %}
        <tr>
            {% if item.codProjeto == 0%}
            {% else %}
                <td>{{ item.nomeProjeto }}</td>
                <td class="primarykey">{{ item.codProjeto }}</td>
                <td>{{ item.dtCriacao| date:"d-m-Y" }}</td>
                <td>{% if item.projConcluido == False%}
                    <img src="{% static 'images/wrong.png' %}" class="trueorfalse">
                    {% else %}
                    <img src="{% static 'images/right.png' %}" class="trueorfalse">
                    {% endif %}
                </td>
                <td>{{ item.descricaoProjeto }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    
    <br>
{% endblock content %}
</html>